	/*Selecteur d'élément */
	p{
		text-align: left;
		font-family: helvetica;
		font-size: .9em;
	}

	/* Selecteur Grouping */

	h1,h2{
		border-bottom: 1px solid #E1E1E1;
	}

	/* Selecteur descendant */
	div a{
		text-decoration:none;
		font-style: italic;
	}
	/* Sélecteur d'id */
	#firstHeading{
		border-bottom: 1px solid #E1E1E1;
	}
	/* Sélecteur de classe */
	.thumbinner{
		float: right;
	}