	body{
		font-family: 'OpenSans';

		background-color: gray;
		background-image: url(background.jpg);
		background-position: center center, 100% 80% top left;
		background-origin: border-box;
		background-repeat: repeat-x;

	}
	/* Définition d'une police */
	@font-face{
		font-family: 'OpenSans';
		/* src:url('OpenSans-r.ttf') format('trueType'); */
		src:url('OpenSans-r.ttf');
	}
	/*Selecteur d'élément */
	p{
		text-align: left;
		font-size: .9em;
		text-indent: 5%;
	}

	/* Selecteur Grouping */

	h1,h2{
		border-bottom: 1px solid #E1E1E1;
		border-top: 1px solid #E1E1E1;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.6;
	}

	/* Selecteur descendant */
	div a{
		text-decoration:none;
		font-style: italic;
		font-size: 12px;
		font-variant: small-caps;
	}
	/* Sélecteur d'id */
	#firstHeading{
		border-bottom: 1px solid #E1E1E1;
	}
	/* Sélecteur de classe */
	.thumbinner{
		float: right;
		background: #E1E1E1;
		margin:3px;
		padding:3px;
		border:1px solid #999;
	}

	ul li{
		letter-spacing: .1em;
	}

